<h1>Movies Listing</h1>

<table>
      <thead>
    <tr>

      <th>Title</th>
      <th>Rating</th>
      <th>Length</th>
      <th>Year</th>
      
      
    </tr>
  </thead>


  <tbody>
    <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, movie %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.length %></td>
          <td><%= movie.year %></td>
          
          
       
        </tr>
  </tbody>
      <% end %>

    
    

</table>
  <%= paginate @movies %>