<h1><%= @movie.title %></h1>

<ul>
  <li style="display:block"><strong>Rating: </strong> <%= @movie.rating %></li>
  <li style="display:block"><strong>Plot: </strong>
    <br>
    <%= @movie.plot %></li><p>
  <li style="display:block"><strong>Spoiler: </strong><font color = "red"><%= @movie.spoiler %></font></li>
 </ul>
<p>
  <%= link_to 'Back', movies_path %>

    
