<h1>Welcome.</h1>
<body>
<div align="center">
<div class="row">
 <a data-orbit-link="headline-1" class="small button">
  Goto Slide 1
</a>
<a data-orbit-link="headline-2" class="small button">
  Goto Slide 2
</a>
<a data-orbit-link="headline-3" class="small button">
  Goto Slide 3
</a>
  <ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
    <div>
      <iframe width="560" height="315" src="//www.youtube.com/embed/hZ8Xj_I3aNU" frameborder="0" allowfullscreen></iframe>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div>
      <iframe width="560" height="315" src="//www.youtube.com/embed/hZ8Xj_I3aNU" frameborder="0" allowfullscreen></iframe>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div>
      <iframe width="560" height="315" src="//www.youtube.com/embed/hZ8Xj_I3aNU" frameborder="0" allowfullscreen></iframe>
    </div>
  </li>
</ul>
  </div>
  </div>
  <script src="js/vendor/jquery.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.orbit.js"></script>
</body>