<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Shonna Dorsey's Forum App - v1" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Spoiler Alert!', movies_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active">
        <% if user_signed_in? %>
        <td><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></td>
        <% else %>
         <td><%= link_to 'Sign in', user_session_path %></td>
        <% end %>
        
      </li>
      <!--<li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li>-->
    </ul>

    <!-- Left Nav Section -->
   <!-- <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>-->
  </section>
    </nav>
   
    <%= javascript_include_tag "application" %>
  </body>
</html>